@import "../../../app/global.scss";

.errorMsg {
    width: 100%;
    font-size: $font-twelve;
    color: $error;
    font-weight: 500;
    background-color: rgba(250 128 75 / 33%);
    border: 1px solid $error;
    border-radius: $border-radius-1;
    padding: 0.15rem;
}

.successMsg {
    width: 100%;
    font-size: 12px;
    color: $black;
    font-weight: 500;
    background-color: rgb(0 255 0 / 14%);
    border: 1px solid $success;
    border-radius: 10px;
    padding: 0.15rem;
    text-align: center
}

.warningMsg {
    width: 100%;
    font-size: 12px;
    color: $black;
    font-weight: 500;
    background-color: rgba(255, 166, 0, 0.14);
    border: 1px solid $warning;
    border-radius: 10px;
    padding: 0.15rem;
    text-align: center
}