@import "../../styles/variables.scss";

.resetPassword__form {
    width: 100%;
    height: 100vh;
    margin: auto;
    display: grid;
    place-items: center;
    background-color: #2563eb;
    background-image: url(/assets/images/cta-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;

    .form__container {
        width: 90%;
        height: 420px;
        gap: 3rem;
        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        

        @media screen and (min-width: 600px) {
            width: 500px;
            margin: auto;
        }

            .header {
                .title {
                    font-size: $font-forty;
                    font-family: $font-logo;
                    font-weight: $font-weight-500;
                    color: $primary;
                    line-height: $line-height-1-2;
                    margin-top: 0.35rem;
                    padding: 0;
                    text-align: center;
                }
    
                .subtitle {
                    font-size: $font-eighteen;
                    font-weight: $font-weight-400;
                    color: $lightGray;
                    text-align: center;
                    line-height: $line-height-1-2;
                    padding: 0;
                }    
            }

            .form__wrap {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .password__field {
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 8px;
                    width: 100%;
                    height: 3.5rem;
                    background-color: #ebedf8e8;
                    border-radius: 10px;
                    border: none;
                    margin-bottom: 1rem;
                    font-size: $font-sixteen;
                    font-weight: $font-weight-400;
                    color: $black;
                    line-height: $line-height-1-2;
                    transition: all 0.3s ease-in-out;

                    .password__icon {
                        width: 20px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                    }

                    .pass__field {
                        width: 100%;
                        height: 100%;
                        border: none;
                        outline: none;
                        background-color: transparent;
                        font-size: var(--font-sixteen);
                        font-weight: 400;
                        color: var(--text);
                        line-height: 1.2;

                        &::placeholder {
                            color: $placeholder;
                        }
                    }
                }

                .input__field {
                    width: 100%;
                    height: 3.5rem;
                    background-color: #ebedf8e8;
                    border-radius: 10px;
                    border: none;
                    padding: 0 1rem;
                    font-size: $font-sixteen;
                    font-weight: $font-weight-400;
                    color: $black;
                    line-height: $line-height-1-2;
                    transition: all 0.3s ease-in-out;
                    margin-bottom: .75rem;

                    &:focus,
                    &:active {
                        background-color: #d9d6ee99;
                    }

                    &::placeholder {
                        color: $placeholder;
                    }
                }

                .form__btn {
                    background-color: $primary;
                    color: $white;
                    font-size: $font-twenty;
                    font-weight: $font-weight-400;
                    width: 100%;
                    height: 3.5rem;
                    display: grid;
                    padding: 0.75rem;
                    border-radius: 10px;
                    margin-top: 0.75rem;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;

                    &:hover {
                        transform: scale(0.95, 1);
                    }
                }
            

            .login__info {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0.75rem auto;

                .text {
                    font-size: $font-fourteen;
                    font-weight: $font-weight-400;
                    color: $gray;
                    margin-right: 0.5rem;
                }

                .signin__text {
                    color: $primary;
                    cursor: pointer;
                    font-size: $font-fourteen;
                    font-weight: $font-weight-400;
                }
            }
        }
    }
}
