@import "../../../styles/variables.scss";

#button {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 1rem;
    background: $primary;
    // height: 3rem;
    // width: 144px;
    cursor: pointer;
    transition: all 500ms ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
        transform: scale(.95, .99);
    }
}

#button .label{
    font-size: $font-sixteen;
    font-weight: $font-weight-500;
    font-family: inherit;
    color: $white;
}