@import "../../../../styles/variables.scss";

.notification__dropdown {
  position: fixed;
  right: 5%;
  z-index: 100;
  animation: fadeInDown 0.7s ease-in-out 0s 1 normal none running;
  transition: all 0.7s ease 0s;

  .notification__page {
    width: 320px;
    max-height: 400px;
    overflow-y: auto;
    background: $white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    pointer-events: auto;
    padding: 1rem;

    @media screen and (min-width: $breakpoint-4) {
      width: 400px;
    }
  }

  .notification__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .notification__title {
    font-size: $font-eighteen;
    font-weight: $font-weight-700;
  }

  .close__button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .notification__item {
    display: flex;
    align-items: start;
    border-bottom: 1px solid #c9c9ca;
    padding: 0.5rem 0;

    &:last-child {
      border-bottom: none;
    }

    .notification__icon {
      margin-right: 12px;

      .icon {
        height: 20px;
        width: 20px;
        color: gray;
      }
    }
  }

  .notification__content {
    flex: 1;

    .notification__heading {
      font-size: $font-sixteen;
      font-weight: 600;
      color: #252930;
    }

    .notification__description {
      margin-top: 3px;
      font-size: 14px;
      color: #252930;
    }

    .delete__button {
      margin-top: 7px;
      color: $error;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        color: darken($error, 10%);
      }
    }
  }

  .no__notifications {
    text-align: center;
    color: #a1a1a1;
    padding: 1rem;
    font-size: 14px;
  }
}


.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loader::before {
  content: '';
  width: 40px;
  height: 40px;
  border: 3px solid #dce5f3; 
  border-top: 3px solid $primary;  
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

