@import "../../styles/variables.scss";

.findCompanies {
  .jobs__container {
    display: grid;
    place-items: center;
    padding: 2rem 1rem;
    margin: 0 2rem;
    background: $hero-bg;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

    .section__subtitle {
      text-align: center;
      font-weight: 600;
      padding: 20px 0;
      font-size: $font-twentyFour;
      line-height: 1.2;
    }

    .hero__searchBar {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 3rem auto;
      width: 90%;
      background: $white;
      box-shadow: $box-shadow-1;
      border-radius: 0.5rem;
      padding: 0.75rem 1rem;
      color: $lightGray;
      z-index: 1;

      @media screen and (min-width: $breakpoint-4) {
        width: 85%;
        margin: 1rem auto;
      }

      .search__bar {
        width: 100%;
        height: 2.5rem;
        padding-left: 0.5rem;
        display: flex;
        font-size: $font-twenty;
        border: none;
        background: none;

        &::placeholder {
          color: $lightGray;
          font-size: $font-sixteen;

          @media screen and (min-width: $breakpoint-4) {
            font-size: $font-eighteen;
          }
        }
      }
    }
  }

  .header__left {
    padding-bottom: 0.5rem;
        border-bottom: 1px solid $border;
        width: 90%;
        margin: 3rem auto;
    .total__jobs {
      font-size: $font-fourteen;

      .job__number {
        font-weight: $font-weight-600;
      }
    }
  }
}

.jobs__card {
  width: 100%;
  border: 2px solid #f1f1f1;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
  background: #f8faff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    border: 1px solid $primary;
  }

  .card__company {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;

    .card__logo {
      display: flex;
      gap: 1rem;
      align-items: center;
      height: 65px;

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 10px;
        background-color: $secondary;
        object-fit: cover;
      }

      .company__info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .company__name {
          font-size: $font-eighteen;
          font-weight: $font-weight-600;
          color: $black;
        }

        .company__location {
          font-size: $font-twelve;
          color: $lightGray;
          display: flex;
          align-items: center;
          gap: 3px;
        }
      }
    }
  }

  .card__info {
    .card__title {
      font-size: $font-sixteen;
      font-weight: $font-weight-600;
      color: $black;
    }
  }

  .card__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .apply__button {
      border: none;
      background-color: $secondary;
      color: $primary;
      font-size: $font-sixteen;
      font-weight: $font-weight-600;
      padding: 0.5rem 1rem;
      border-radius: 5px;

      &:hover {
        background-color: $primary;
        color: $white;
        transform: none;
      }
    }
  }
}

.no__company {
  font-size: $font-sixteen;
  font-weight: $font-weight-600;
  color: $black;
  border: 1px dashed $primary;
  border-radius: 10px;
  padding: 2rem;
  width: 80vw;
  text-align: center;
  margin: 3rem auto;
}

.pagination {
  border: 1px solid $primary;
  border-radius: 10px;
  padding: 0.75rem;
  width: fit-content;
  margin: 2rem auto;
  display: flex;
  gap: 0.5rem;

  .pagination__button {
    border: none;
    background-color: transparent;
    font-size: $font-fourteen;
    font-weight: $font-weight-600;
    color: $black;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $primary;
      color: $white;
    }

    &:disabled {
      background-color: $primary;
      color: $white;
      cursor: not-allowed;
    }
  }

  .pagination__active {
    background-color: $primary;
    color: $white;
  }
}
