@import "../../../app/global.scss";

.talentFeatures__section {
    padding: 2rem;
    margin: 3rem 0;
    border-radius: 16px;

    .features__container {
        display: grid;
        place-items: center;

        .features__cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
            width: 90%;
            margin: 2rem auto 0;
            
            @media screen and (min-width: $breakpoint-4) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            .card {
                background-color: #fafafa;
                border: 1px solid #dbe6fd;
                padding: 1rem;
                height: 200px;
                border-radius: 16px;
                display: grid;
                place-items: center;
                max-width: 300px;

                @media screen and (max-width: $breakpoint-4) {
                    width: 100%;
                }

                .features__card {
                    display: grid;
                    // place-items: fl;
                    align-content: flex-start;
                    justify-content: center;
                    // text-align: center;

                    .card__icon {
                        width: 70px;
                        height: 70px;
                        margin-bottom: 1rem;
                        color: $primary;
                    }

                    .title{
                        display: flex;
                        align-items: baseline;
                        margin-bottom: 1rem;
                        
                        .number__title {
                            font-size: $font-fiftySix;
                            font-weight: 500;
                            line-height: 1;
                            color: $primary;
                        }
                        
                        .text__title{
                            color: $black;
                            font-size: $font-sixteen;
                            font-weight: 500;
                        }
                    }

                    
                    .card__description {
                        font-size: $font-eighteen;
                        font-weight: 400;
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        // .features__card {
        //     margin-top: 5rem; // Equivalent to mt-20 in Tailwind
          
        //     .features-grid {
        //       display: grid;
        //       grid-template-columns: repeat(1, 1fr);
        //       gap: 3rem; // Equivalent to gap-12 in Tailwind
          
        //       @media (min-width: 640px) { // sm breakpoint
        //         grid-template-columns: repeat(2, 1fr);
        //       }
          
        //       @media (min-width: 1024px) { // lg breakpoint
        //         grid-template-columns: repeat(3, 1fr);
        //       }
        //     }
          
        //     .feature {
        //       padding-top: 1.5rem; // Equivalent to pt-6 in Tailwind
          
        //       .card {
        //         background-color: #f9fafb; // bg-gray-50 in Tailwind
        //         border-radius: 0.5rem; // rounded-lg in Tailwind
        //         padding: 1.5rem; // px-6 in Tailwind
        //         padding-bottom: 2rem; // pb-8 in Tailwind
        //         position: relative;
        //         box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1); // shadow-lg in Tailwind
          
        //         .feature-icon-wrapper {
        //           margin-top: -1.5rem; // -mt-6 in Tailwind
          
        //           .icon-circle {
        //             display: flex;
        //             align-items: center;
        //             justify-content: center;
        //             background-color: #6366f1; // bg-indigo-500 in Tailwind
        //             height: 3rem; // p-3 in Tailwind
        //             width: 3rem; // p-3 in Tailwind
        //             border-radius: 1.25rem; // rounded-xl in Tailwind
        //             box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1); // shadow-lg in Tailwind
          
        //             .icon {
        //               color: #ffffff; font-size: 18px; font-weight: 600;
        //             }
        //           }
        //         }
          
        //         .feature-title {
        //           margin-top: 2rem; // mt-8 in Tailwind
        //           font-size: 1.125rem; // text-lg in Tailwind
        //           font-weight: 600; // font-semibold in Tailwind
        //           color: #1f2937; // text-gray-900 in Tailwind
        //           line-height: 1.25; // leading-8 in Tailwind
        //         }
          
        //         .feature-description {
        //           margin-top: 1.25rem; // mt-5 in Tailwind
        //           font-size: 1rem; // text-base in Tailwind
        //           line-height: 1.75; // leading-7 in Tailwind
        //           color: #4b5563; // text-gray-600 in Tailwind
        //         }
        //       }
        //     }
        //   }
          
    }
}
