@import "../../../styles/variables.scss";

.featured__component {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 1rem;

  .featured__content {
    display: flex;
    flex-direction: column;

    .featured__posts {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem; 
      margin-bottom: 2rem;  

      @media (min-width: 768px)  {
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 1rem;
      }
      
      @screen lg {
        @media (min-width: 1024px) {
          grid-template-columns: repeat(3, 1fr); 
          gap: 1.5rem; 
        }        @apply grid-cols-3;
      }

      .post {
        background-color: #fff;
        border-radius: 0.75rem;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        
        .post__body {
          padding: 1rem;

          .post__title {
            font-size: $font-twenty;
            font-weight: 600;
            margin-bottom: 0.5rem;
            text-align: left;
          }

          .post__summary{
            font-weight: 400;
            padding-bottom: 0.5rem;
          }

          .post__wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;

            .post__author_name {
              font-size: $font-fourteen;
              color: $black;
            }

            .post__date {
              color: $lightGray;
            }
          }
        }
      }
    }
  }

  .category__nav {
    @apply flex flex-wrap justify-center gap-4 md:gap-8 mb-12;

    .category__Link {
      @apply text-blue-500 hover:text-blue-700 capitalize font-medium text-sm md:text-lg 
             transition-colors duration-300 pb-1;

      &:hover {
        @apply border-b-2 border-blue-500;
      }
    }
  }

  @keyframes swoopIn {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes arrowBounce {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
  }

  .swoop-in {
    opacity: 0;
    transform: translateY(100px);
    transition: transform 0.5s, opacity 0.5s;

    &.visible {
      animation: swoopIn 0.5s ease-out forwards;
    }
  }
}