@import "../../../../styles/variables.scss";

.modal__overlay {
  
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
    }

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 70, 70, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
  }
  
  .modal__container {
    width: 400px;
    max-width: 90%;
    height: 100%;
    background-color: $white;
    box-shadow: $box-shadow-1;
    transform: translateX(100%);
    animation: slideIn 0.5s forwards ease-in-out;
    position: relative;
    padding: 28px 20px;
    overflow-y: auto;
  }
  
  .modal__close {
    position: absolute;
    top: 17px;
    right: 15px;
    font-size: $font-thirtyTwo;
    cursor: pointer;
    color: $black;
  }
  
  .modal__title {
    text-align: center;
    font-size: $font-twentyFour;
    font-weight: $font-weight-600;
  }
  
  .modal__form {
    padding: 20px;
  }
  
  .modal__field {
    margin-bottom: 20px;
  }
  
  .modal__field label {
    display: block;
    margin: 0 4px 4px 0;
    font-size: $font-sixteen;
    color: #3f3e3e;
  }

  .asterisk {
    color: $error;
    font-weight: $font-weight-600;
  }
  
  .modal__field input {
    @include inputField;
    width: 100%;
  }

  .modal__field:last-child input {
    height: 3.5rem;
  }

  .modal__field select {
    padding: 10px;
    border: 1px solid $border;
    border-radius: 4px;
    background-color: $white;
    font-size: $font-sixteen;
  }

  .modal__field textarea {
    padding: 10px;
    outline: none;
    width: 100%;
    border: 1px solid $border;
    border-radius: 4px;
    background-color: $white;
    font-size: $font-sixteen;
  }

  .checkbox__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 10px;
  }
  
  .checkbox__option {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  .checkbox__input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid $primary;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  
  .checkbox__input:checked::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: $primary;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .checkbox__label {
    font-size: $font-sixteen;
    color: $black;
    cursor: pointer;
  }
  
  .modal__submit {
    width: 180px;
    @include button
    
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  