@import "../../../../styles/variables.scss";

.profile__page {
    padding: 40px 15px 0;
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-4) {
        padding: 40px 35px 0;
    }

    @media screen and (min-width: $breakpoint-5) {
        max-width: 70rem;
    }

    @media screen and (min-width: $breakpoint-6) {
        max-width: 76rem;
    }

    .profile__details {

        .note {
            font-size: $font-sixteen;
            font-weight: $font-weight-500;
            color: $gray;
            margin-bottom: 2rem;
            background-color: $accent;
            border-radius: 10px;
            padding: 1rem;
            border: 1px solid $border;
        }

        .profile__image {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            background: $secondary;
            position: relative;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .profile__text {
            font-size: $font-sixteen;
        }

        .profile__top {
            background: $secondary;
            padding: 2rem;
            margin-bottom: 2rem;
            border-radius: 10px;

            .profile__column {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                // gap: 1rem;

                .profile__row {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-top: 1rem;
                    // margin-bottom: 0.5rem;

                    .user__name {
                        font-size: $font-eighteen;
                        font-weight: $font-weight-500;
                        color: $black;
                    }
                    .user__address {
                        font-size: $font-fourteen;
                        font-weight: $font-weight-500;
                        color: $lightGray;
                        display: flex;
                        align-items: center;
                        gap: 0.35rem;
                    }
                }

                .user__title {
                    font-size: $font-twenty;
                    font-weight: $font-weight-500;
                    color: $lightGray;
                }
            }
        }

        .profile__bottom {
            .profile__box {
                background-color: $secondary;
                padding: 1rem;
                margin-bottom: 2rem;
                border-radius: 10px;

                .title {
                    font-size: $font-twenty;
                    font-weight: $font-weight-500;
                    color: $black;
                    margin-bottom: 0.75rem;
                }

                .text {
                    font-size: $font-sixteen;
                    font-weight: $font-weight-500;
                    color: $lightGray;
                }
                .text__button{
                    font-size: $font-sixteen;
                    font-weight: $font-weight-600;
                    color: $primary;
                    background-color: $accent;
                    padding: 6px;
                    border-radius: 5px;
                    margin-top: 2rem;
                }
            }
        }

        .edit__button {
            width: 100%;
            height: 3rem;
            background: $primary;
            color: $white;
            padding: 1rem;
            font-size: $font-sixteen;
            font-weight: $font-weight-500;
            border-radius: 10px;
        }
    }
}
