@import "../../../styles/variables.scss";

.jobHero__section{
    margin-top: 2rem;
    
    .jobHero__content{
        background-color: $accent;
        padding: 2rem 1rem;
        width: 90%;
        margin: 0 auto;
        border-radius: 1rem;
        position: relative;
        display: grid;
        place-items: center;
        align-content: center;
        
        @media screen and (min-width: $breakpoint-3) {
            height: 280px;
            padding: 1.5rem;
        }

        .hero__title{
            font-size: $font-thirty;
            font-weight: $font-weight-600;
            color: $black;
            text-align: center;
        }

        .hero__text{
            font-size: $font-eighteen;
            font-weight: $font-weight-400;
            color: $black;
            text-align: center;
            margin-bottom: 1rem;
        }

        .hero__searchBar {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 3rem auto;
            width: 90%;
            background: $white;
            box-shadow: $box-shadow-1;
            border-radius: 0.5rem;
            padding: 0.75rem 1rem;
            color: $lightGray;
            z-index: 1;
      
            @media screen and (min-width: $breakpoint-4) {
                width: 85%;
                margin: 1rem auto;
            }
      
            .search__bar {
              width: 70%;
              height: 2.5rem;
              padding-left: 0.5rem;
              display: flex;
              font-size: $font-twenty;
              border: none;
              background: none;
      
              @media screen and (min-width: $breakpoint-3) {
                width: 75%;
              }
      
              &::placeholder {
                color: $lightGray;
                font-size: $font-sixteen;
      
                @media screen and (min-width: $breakpoint-4) {
                  font-size: $font-eighteen;
                }
              }
            }
          }
    }


    // .jobHero__content:after {
    //     content: "";
    //     position: absolute;
    //     bottom: 1px;
    //     right: 0rem;
    //     height: 170px;
    //     width: 300px;
    //     background: $hero-img no-repeat 0 100%;
    //     background-size: contain;
    // }
}