@import "../../../../styles/variables.scss";

.username__section{

    .username__content{
        // background-color: $white;
        padding: 2rem 1rem;
        border-radius: 1rem;
        width: 90%;
        margin: 0 auto;

        .content__header{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .username__title{
                font-size: $font-thirtyTwo;
                font-weight: 500;
                font-family: $font-text;
                color: $black;
                line-height: 1.2;
                letter-spacing: -1px;
    
                .title__span{
                    color: $primary;
                }
                .username__usertitle{
                    overflow-wrap: break-word;
                    word-break: break-word;
                }
            }
        }
    }
}